
{% extends 'base.html.twig' %}

{% block title %} Home{% endblock %}

{% block body %}
<style>
/*style qui sommes nous*/
section{
  margin-top:50px;
}
.sliderdivitext{
    display: inline-flex;
    background-color: #FBFAE5;
    box-sizing: content-box;
    width: 100%;
    
}

.textoslider{
    font-size: 1rem;
    letter-spacing: 1px;
    color:rgb(52, 73, 3);
    width: 50%;
    height: 600px;
    float: right;
 }

.tituloslider{
    color: #1B5349 ;
    text-align: center;
    font-size: 2rem;
    font-family: 'Bowlby One SC', cursive;
    letter-spacing: 3px;
}

.tituloslider2{
    color: #FBFAE5;
    text-align: center;
    font-size: 45px;
    text-shadow: -3px -3px 5px  #FF7729 ;
    font-family:'Bowlby One SC', cursive; 
    letter-spacing: 4px;
}

p {
    font-family: open sans;
    font-size: 1em;
    color:  #1B5349;
    letter-spacing: 1px;
}

.slider {
	width: 45%;
	margin: auto;
    overflow: hidden;
    box-sizing: content-box;
}

.slider ol {
	display: flex;
	padding: 0;
    width: 400%;
    
	animation: cambio 20s infinite alternate linear;
}

.slider li {
    width: 100%;
    list-style: none;
 
}

.slider img {
    width: 600px;
    height: 300px;
    border-radius: 10px;
}

@keyframes cambio {
	0% {margin-left: 0;}
	20% {margin-left: 0;}
	
	25% {margin-left: -100%;}
	45% {margin-left: -100%;}
	
	50% {margin-left: -200%;}
	70% {margin-left: -200%;}
	
	75% {margin-left: -300%;}
	100% {margin-left: -300%;}
}

@media (max-width:600px){
    .slider-portada{
        width: 100%;
        height: 400px;
    }
}
@media (min-width:600px){
 .slider-portada{
     width: 100%;
     height: 400px;
 }   
}
/* Para dispositivos medianos */
@media(min-width:768px){
.slider-portada {
width: 100%;
height: 420px;
    }
}

@media (min-width:992px){
    .slider-portada{
        width: 100%;
        height: 400px;
    }
}
/* Dispositivos muy grandes */
@media (min-width:1200px){
    .slider-portada{
        width: 100%;
        height: 600px;
    }
}
</style>


  <!--qui sommes nous-->


<section class="sliderdivtext">

    <div class="textoslider"> 

        <h1 class="tituloslider">
          Qui sommes nous
            <br>
            <h2 class= "tituloslider2"> SCHOOL@HOME, E_LEARNING </h2> 
        </h1>
        <br>
        <p>
        School@home est une plateforme d’enseignement et  d’apprentissage en ligne destinée à tout le monde. Les cours sont tutorés par des agrégés, des profs d’enseignement et des experts à travers des vidéos et des visioconférences et restent accessibles en replay sans limite de temps.
        </p>
    </div>

<div class="slider">
    <ol>
        <li>
<img src= "{{asset('images/c3.jpg')}}" alt="ds1">
</li>
        <li>
<img src="{{asset('images/c2.jpg')}}" alt="ds2">
</li>
        <li>
<img src="{{asset('images/c1.jpg')}}" alt="ds3">
</li>
        <li>
<img src="{{asset('images/elearn.jpg')}}" alt="ds4">
</li>
    </ol>
</div>
</section>
<!--matieres-->


<!--publicité-->

  

<!--nos professeur-->
<style>

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  min-height: 100vh;
  background-color: #f7f7f7;
}
.row {
  width: 85%;
  margin: auto;
}
.content-heading h1 {
  margin-left: 20px;
  font-size: 40px;
  text-transform: uppercase;
  margin-bottom: 0;
}
.heading-section {
  width: 60%;
  text-align: center;
  margin: auto;
}
.heading-section h1 {
  padding-top: 30px;
  font-size: 42px;
}
.heading-section p {
  margin-top: 15px;
  color: #3d3d3d;
  font-size: 17px;
}
.content-section {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}
.card {
  flex: 1;
  margin: 40px 20px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  padding: 15px;
}
.card img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}
.card h4 {
  margin-top: 20px;
  font-size: 20px;
}
.card p {
  font-size: 16px;
  margin-top: 10px;
  color: #3d3d3d;
  line-height: 1.5;
}


</style>


<div class="container">
  <div class="row">
    <div class="heading-section col-12 col-md-6 col-lg-4">
      <h1>Our Blog</h1>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt eius cumque rerum facilis fugiat harum id iste voluptates culpa cupiditate! Sed nihil at deleniti quam.</p>
    </div>
    <div class="content-heading">
      <h1>Our Special Item</h1>
      <hr>
      <div class="content-section">
        <div class="card">
          <img src="https://i.ibb.co/rcNqhGd/Project-Cover8.png" alt="">
          <h4>Lorem ipsum dolor sit amet.</h4>
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sed, asperiores molestiae. Cupiditate repellat esse, eos rem consequatur adipisci quidem eveniet sint amet facilis ipsa non.</p>
        </div>

        <div class="card">
          <img src="https://i.ibb.co/tJCYSW8/Project-Cover2.png" alt="">
          <h4>Lorem ipsum dolor sit amet.</h4>
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sed, asperiores molestiae. Cupiditate repellat esse, eos rem consequatur adipisci quidem eveniet sint amet facilis ipsa non.</p>
        </div>

        <div class="card">
          <img src="https://i.ibb.co/SKz4tmT/Project-Cover.jpg" alt="">
          <h4>Lorem ipsum dolor sit amet.</h4>
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sed, asperiores molestiae. Cupiditate repellat esse, eos rem consequatur adipisci quidem eveniet sint amet facilis ipsa non.</p>
        </div>
      </div>
    </div>
    <div class="content-heading">
      <h1>Our Special Burger</h1>
      <hr>
      <div class="content-section">
        <div class="card">
          <img src="https://i.ibb.co/B2DhwXJ/4.png" alt="">
          <h4>Lorem ipsum dolor sit amet.</h4>
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sed, asperiores molestiae. Cupiditate repellat esse, eos rem consequatur adipisci quidem eveniet sint amet facilis ipsa non.</p>
        </div>

        <div class="card">
          <img src="https://i.ibb.co/YchYYqW/2.png" alt="">
          <h4>Lorem ipsum dolor sit amet.</h4>
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sed, asperiores molestiae. Cupiditate repellat esse, eos rem consequatur adipisci quidem eveniet sint amet facilis ipsa non.</p>
        </div>

        <div class="card">
          <img src="https://i.ibb.co/jLzVyvq/1.png" alt="">
          <h4>Lorem ipsum dolor sit amet.</h4>
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sed, asperiores molestiae. Cupiditate repellat esse, eos rem consequatur adipisci quidem eveniet sint amet facilis ipsa non.</p>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
