
{% extends 'base.html.twig' %}

{% block title %} Home{% endblock %}

{% block body %}
<div class="container">
<div class="row">
<div class="col-lg-4 col-md-6 col-sm-12 offset-lg-4">

  <h1> Qui sommes-nous  </h1> 
</div>
</div>
<div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12 offset-lg-3">
    
      <p> school@home est une plateforme d’enseignement et  d’apprentissage en ligne 
          destinée à tout le monde. Les cours sont tutorés par des agrégés, des profs d’enseignement et des experts à travers des vidéos et 
          des visioconférences et restent accessibles en replay sans limite de temps.  </p> 
    </div>
    </div>
    <div class="row ">
       <div class="col-lg-3 col-md-3 col-sm-12" >
         <img  class="c" src="{{asset('images/c1.jpg')}}" alt="" style="width: 300px; height: 300px;" ><br>
         <p>+ 206 Cours en ligne</p>
       </div>
       <div class="col-lg-3 col-md-3 col-sm-12 offset-lg-1" >
        <img  class="c" src="{{asset('images/c2.jpg')}}" alt="" style="width: 300px; height: 300px;"><br>
        <p>+ 186 UTILISATEUR de notre plateforme d'apprentissage</p>
       </div>
       <div class="col-lg-3 col-md-3 col-sm-12 offset-lg-1" >
        <img  class="c" src="{{asset('images/c3.jpg')}}" alt="" style="width: 300px; height: 300px;"><br>
        <p>+ 692 Devoirs et Activités</p>
       </div>
        </div>
</div>
{% endblock %}
