
{% extends 'base.html.twig' %}

{% block title %} Home{% endblock %}

{% block body %}


  <h1> Qui sommes-nous  </h1> 





    <!--teatcher-->


  
    <h1>Nos meilleurs professeurs</h1>
  
  
    
    <div class="container">
    
  <div class="card">
    <img src="https://images.pexels.com/photos/220453/pexels-photo-220453.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="">
    <div class="details">
      <h2>Jhon Veber</h2>
      <div class="social-media-list">
        <a href="#"><i class="fab fa-facebook"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
      </div>
    </div>
  </div>
  <div class="card">
    <img src="https://a.lmcdn.ru/img600x866/H/E/HE002EMDGYQ3_7643652_1_v1.jpg" alt="">
    <div class="details">
      <h2>Ivan Pirogkov</h2>
      <div class="social-media-list">
        <a href="#"><i class="fab fa-facebook-f"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
       </div>
      </div>
     </div>
     <div class="card">
      <img src="https://uploads-ssl.webflow.com/5f3930c1bf11903bb0bd9e6d/5f39d5d317c81a29d5f8517f_mit-18-monaten-planungszeit-stefan-sahlmann-header.jpg" alt="">
      <div class="details">
        <h2>Alex Zamyatin</h2>
        <div class="social-media-list">
          <a href="#"><i class="fab fa-facebook-f"></i></a>
          <a href="#"><i class="fab fa-twitter"></i></a>
          <a href="#"><i class="fab fa-instagram"></i></a>
        </div>
      </div>
    </div>
  </div>
  <script src="https://kit.fontawesome.com/e25b852c87.js" crossorigin="anonymous"></script>


{% endblock %}
